{% extends "base_template.html" %}
{% block content %}
  <div class="container">

    <div class="starter-template">
      <h1>Welcome to Breathing Easy.</h1>
      <p class="lead">This project was done for Insight Health Data Science.</p>

      <br>

      <iframe src="https://docs.google.com/presentation/d/14NYD2zZ3rUaxLKWd4YI--bOpKbZ9EYF-Iyss2lS3_bo/embed?start=false&loop=false&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>

    <br>
    <br>
    <br>
    <div class="container">
      <a name="contact"> </a>
      <h2> João Ricardo Santos</h2>
      <p>You can reach me at <em>joaorsantos at gmail dot com</em>.</p>

      <p><a href="https://www.linkedin.com/in/joao-r-santos">linkedin.com/in/joao-r-santos</a></p>
      <p><a href="https://www.github.com/joao-r-santos">github.com/in/joao-r-santos</a></p>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div><!-- /.container -->
{% endblock %}
