{% extends "base_template.html" %}
{% block content %}

  <div class="container">

    <div class="starter-template">
      <h2>Breathing Easy</h2>
      <p class="lead">Targeting Factors of Pediatric Asthma</p>
        <br>
      <p>This project was done for Insight Health Data Science.</p>

      <br>

      <iframe src="https://docs.google.com/presentation/d/14NYD2zZ3rUaxLKWd4YI--bOpKbZ9EYF-Iyss2lS3_bo/embed?start=false&loop=false&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>

  </div><!-- /.container -->
{% endblock %}
