{% extends "base_template.html" %}
{% block content %}

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

  <div class="starter-template">

    <br>
    <br>
    <div class="container" align="center">
      <h2> João Ricardo Santos, PhD</h2>
    </div>
      <br><br>
      
      <div class="row">
          <div class="col-md-6" align="right">
              <img src="../static/profile_pic.jpg" alt="profile pic" width="350px">
          </div>
          <div class="col-md-3" align="left">
              <p style="font-size:17px">
                  <br><br>
                  <b>João Ricardo Santos</b> received his PhD in Physics from Boston University.
                  There, he developed a novel automatic recognition algorithm of myelinated axons and their surrounding myelin sheath to quantify and analyze their structure with age, sex, and cognitive profile.
                  At Insight, he built an online tool to determine which demographic or environmental factors best predict pediatric asthma, by age, gender, and ethnicity.
              </p>
              <br>
              <p style="font-size:17px">
                  In his free time, he enjoys to learn new skills and try new challenges.
                  His latest skill was learning how to work in a machine shop and operate a milling machine, designing and building objects with precisions of the thousandths of an inch.
              </p>
          </div>
      
      </div>
    <br><br>
      <div class="container" align="center">
        <p>You can reach me by email at <em>joaorsantos</em> at <em>gmail</em> dot <em>com</em>.</p>
        <p>
            <a href="https://www.linkedin.com/in/joao-r-santos">
              <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View João Ricardo Santos's profile on LinkedIn">
            </a>
        </p>
        <p>
            <!-- Place this tag where you want the button to render. -->
            <a class="github-button" href="https://github.com/joao-r-santos" data-style="mega" aria-label="Follow @joao-r-santos on GitHub">Follow @joao-r-santos</a>
<!--      <p><a href="https://www.linkedin.com/in/joao-r-santos">linkedin.com/in/joao-r-santos</a></p>-->
<!--      <p><a href="https://www.github.com/joao-r-santos">github.com/in/joao-r-santos</a></p>-->
        </p>
    </div>

  </div><!-- /.container -->
{% endblock %}
