{% extends "base_template.html" %}
{% block content %}
  <div class="container">

    <div class="starter-template">
      <h1>This is the home page</h1>
      <p class="lead">Time to change this.</p>
      <p>In the mean time, I can greet you <a href='/hello.html'>here</a>.</p>
      <p>Or tell you the time <a href='/realtime.html'>here</a>.</p>
    </div>

    <div class="starter-template">
      <h2>Test your county submission <a href='/input'>here</a>.</h2>
    </div>

  </div><!-- /.container -->
{% endblock %}
