{% extends "base_template.html" %}
{% block content %}
  <div class="container">

    <div class="container">
      <h3>Select a county in California to see the most important factors related to pediatric asthma</h3>
    </div>

    <div class = "container">

      <form  action="/output" method="GET">
        <select class="selectpicker" name="county" id="county">
          <option value="0" selected disabled>County</option>
          {% for c in counties %}
              <option value={{ c['FIPS'] }} data-value="{{ c['FIPS'] }}"> {{ c['County'] }}</option>
          {% endfor %}
        </select> 

        <select class="selectpicker" name="age" id="age">
          <option value="0" selected disabled>Age</option>
              <option value="0-4">0-4 years</option>
              <option value="5-17">5-17 years</option>
        </select> 

        <select class="selectpicker" name="gender" id="gender">
          <option value="0" selected disabled>Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
        </select> 

        <select class="selectpicker" name="ethnicity" id="ethnicity">
          <option value="0" selected disabled>Ethnicity</option>
              <option value="white">White/Caucasian</option>
              <option value="african">African-American</option>
              <option value="asian">Asian-American/Pacific Islander</option>
              <option value="hispanic">Hispanic</option>
              <option value="other">Other</option>
        </select> 

        <div>
          <button type="submit" class="btn btn-default">Analyze</button>
        </div>

      </form>
    
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    </div><!-- /.container -->


  <div class="container">
    <div class="starter-template">
      <h3>Results for {{ rates['Gender'] }} {{ rates['Ethnicity'] }} children with {{ rates['Age'] }} years</h3>
			<p class="lead">According to our model, in {{ rates['County'] }} county the predicted ED visit rate (per 10,000) for pediatric asthma is {{ rates['Rate predict'] | round(2) }}, compared with the actual rate of {{ rates['Rate real'] | round(2) }}.</p>
    </div>
  </div><!-- /.container -->

    <br>

  <div class="container">
    <div class="starter-template">
        <h3>Factors for pediatric asthma</h3>
<!--
<p class="lead">The most important factors for pediatric asthma are given in the following table.</p>
-->
        <p class="lead">
            Each factor is given an impact score.
            This score reflects the predicted change in ED visit rates for pediatric asthma given a reduction of 10% in the corresponding factor.
            For example, an impact score of 3 for the factor Traffic pollution corresponds to a predicted reduction by 3 of the ED visit rate, given an initial reduction of the Traffic pollution by 10%.
        </p>
    </div>
  </div><!-- /.container -->


    <br>

  <div class="container">
    <div class="starter-template">
        <h3>Comparison to other counties</h3>
        <p class="lead">
            For each factor, I present the percentile of the {{rates['County']}} county in relation to all the other counties in California.
            For example, a percentile of 70% means that 70% of all counties have better values for this factor than {{rates['County']}} county.
        </p>
    </div>
  </div><!-- /.container -->

    <br>

  <div class="container">
    <table class="table table-hover">
        <tr>
          <th>Factor</th>
          <th>Impact Score</th>
          <th>Percentile<br>(lower is better)</th>
        </tr>
        <tr>
          <td>AQI PM2.5</td>
          <td>{{ impact['PM2.5 AQI'] | round(2) }}</td>
          <td>{{ ranks['PM2.5 AQI'] | round | int }}%</td>
        </tr>
        <tr>
            <td>Traffic pollution</td>
            <td>{{ impact['Traffic pollution'] | round(2) }}</td>
            <td>{{ ranks['Traffic pollution'] | round | int }}%</td>
        </tr>
        <tr>
            <td>AQI ozone</td>
            <td>{{ impact['O3 AQI'] | round(2) }}</td>
            <td>{{ ranks['O3 AQI'] | round | int }}%</td>
        </tr>
        <tr>
            <td>AQI median</td>
            <td>{{ impact['AQI Median'] | round(2) }}</td>
            <td>{{ ranks['AQI Median'] | round | int }}%</td>
        </tr>
        <tr>
            <td>Area burned by wild fires</td>
            <td>{{ impact['Area burned'] | round(2) }}</td>
            <td>{{ ranks['Area burned'] | round | int }}%</td>
        </tr>
    </table>

  </div><!-- /.container -->


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>


  </div><!-- /.container -->

{% endblock %}
